.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  height: 64px;

  border-bottom: 1px solid hsl(var(--border));
  background: hsl(var(--background));
}

.left,
.right {
  display: flex;
  gap: 8px;
}