.skillTree {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.card {
  width: 100%;
  max-width: 900px;
}

.info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}