.registration {
  min-height: calc(100vh - 64px); /* если есть header */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.submit {
  width: 100%;
}